<%- include("../../partials/header", {loggedIn : true}) %>

<div class="container">
	<div class="mt-5">
		<div style="max-width: 100%; overflow: auto;">
			<table class="table table-hover table-active">
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="text-center">Govt. Id</th>
						<th scope="col" class="text-center">Name</th>
						<th scope="col" class="text-center">Purpose</th>
						<th scope="col" class="text-center">Expec. Arrival</th>
						<th scope="col" class="text-center">Actual Arrival</th>
						<th scope="col" class="text-center">OTP</th>
					</tr>
				</thead>
				<tbody>
					<% dataObject.slice().reverse().forEach((eachEntry) => { %>
					<tr>
						<th scope="row" class="text-center"><%= eachEntry.aadharId%></th>
						<td class="text-center"><%= eachEntry.name%></td>
						<td class="text-center"><%= eachEntry.visitingRecord.purpose%></td>
						<td class="text-center"><%= eachEntry.visitingRecord.expecArrival%></td>
						<td class="text-center"><%= eachEntry.visitingRecord.actualArrival%></td>
						<td class="text-center"><%= eachEntry.visitingRecord.otp%></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>

		<div style="display: flex; justify-content: flex-end;" class="mt-4">
			<a href="/user/visitor" class="btn btn-danger mr-3">Refresh</a>

			<a href="/user" class="btn btn-info mr-3">Go Back</a>
			<a href="/user/visitor/new" class="btn btn-success">Request New Visitor</a>
		</div>
	</div>
</div>
<%- include("../../partials/footer") %>
