<%- include("../../partials/header", {loggedIn : true}) %>

<div class="container">
	<table class="table mt-5 table-hover table-active">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id No.</th>
				<th scope="col">Name</th>
				<th scope="col">Date</th>
				<th scope="col">Check In</th>
				<th scope="col">Check Out</th>
			</tr>
		</thead>
		<tbody>
			<% regDom_HelpArray.forEach((eachRegDom_HelpId) => { %> <% returnedDom_HelpDataFromDb.forEach((eachDom_HelpData) => { %> <% if(eachDom_HelpData.id === eachRegDom_HelpId){ %>
			<tr>
				<th scope="row"><%= eachDom_HelpData.id %></th>
				<td><%= eachDom_HelpData.name %></td>
				<td><%= eachDom_HelpData.timeStamps[0].date %></td>
				<td><%= eachDom_HelpData.timeStamps[0].checkIn %></td>
				<td><%= eachDom_HelpData.timeStamps[0].checkOut %></td>
			</tr>
			<% } %> <% }) %> <% }) %>
		</tbody>
	</table>
	<div style="display: flex; justify-content: flex-end;">
		<a href="/user" class="btn btn-info mr-3">Go Back</a>
		<a href="/user/dom_help/new" class="btn btn-success">Register New Domestic Help</a>
	</div>
</div>
<%- include("../../partials/footer") %>
