<%- include("../../partials/header_admin", {loggedIn : true}) %>
<div class="container mt-3">
	<div style="display: flex; justify-content: flex-start;">
		<a href="/admin/securityPersonnel/new" class="btn btn-success mr-3">Register New Security Personnel</a>

		<a href="/admin" class="btn btn-info">Go Back</a>
	</div>
	<div style="max-width: 100%; overflow: auto;">
		<table class="table mt-3 table-hover table-active">
			<thead class="thead-dark">
				<tr>
					<th scope="col" class="text-center">Name</th>
					<th scope="col" class="text-center">Id No.</th>
					<th scope="col" class="text-center">Aadhar Number</th>
					<th scope="col" class="text-center">Phone Number</th>
					<th scope="col" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% returnedSecuritiesDataFromDb.forEach((eachSecurityData) => { %>
				<tr>
					<th scope="row" class="text-center"><%= eachSecurityData.name %></th>
					<td class="text-center"><%= eachSecurityData.id %></td>
					<td class="text-center"><%= eachSecurityData.aadharNo %></td>
					<td class="text-center"><%= eachSecurityData.phoneNo %></td>
					<td class="text-center">
						<a href="/admin/securityPersonnel/show/<%= eachSecurityData._id %>" class="text-dark" data-toggle="tooltip" data-placement="top" title="View Security Personnel Data"
							><i class="fas fa-info-circle mr-3"></i
						></a>
						<a href="/admin/securityPersonnel/edit/<%= eachSecurityData._id %>" class="text-dark" data-toggle="tooltip" data-placement="top" title="Edit Security Personnel Data"
							><i class="fas fa-user-edit mr-3"></i
						></a>
						<a href="/admin/securityPersonnel/delete/<%= eachSecurityData._id %>" class="text-dark" data-toggle="tooltip" data-placement="top" title="Delete Security Personnel Account"
							><i class="fas fa-trash-alt"></i
						></a>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<%- include("../../partials/footer" )%>
